<div [ngClass]="alerta" role="alert">
    <strong>A simple primary alert—check it out!</strong>
</div>

<button class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<br><br>


<h3 [ngClass]=" { 'text-danger': propiedades.danger, 'text-info': !propiedades.danger } ">
    Hola mundo
</h3>